header #title {
	font-size: 50px;
	text-align: center;
}

header a:hover {
	background-color: yellow;
}

ul {
	list-style: none;
}

a {
	text-decoration: none !important;
	color: black !important;
}

.col-md-4 img {
	width: 300px;
	height: 150px;
	padding-right: 10px;
}

.container {
	width: 1000px;
}

.row.container {
	padding-left: 70px !important;
}

.genderFilm {
	font-size: 30px;
	font-weight: 700px;
	padding-left: 70px;
	padding-top: 40px;

}

footer .col-md-4 {
	text-align: right;
	padding-top: 70px;
	padding-bottom: 20px;
}
